{% extends "base.html" %}
{% block title %}UdaDo{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Uda-Do</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Users</h2>
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item">{{ user.email }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Tasks</h2>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>{{ task }} - Completed: {{ task.completed }}</span>
                    <div>
                        <form action="/complete-task" method="post" class="d-inline-block ml-2">
                            <input type="hidden" name="taskid" value="{{ task.id }}">
                            <input type="submit" class="btn btn-success btn-sm" value="Done">

                        </form>
                        <form action="/undo-complete" method="post" class="d-inline-block ml-2">
                            <input type="hidden" name="taskid" value="{{ task.id }}">
                            <input type="submit" class="btn btn-warning btn-sm" value="Undo">
                        </form>
                    </div>
                </li>
                
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Add User</h2>
            <form action="/add-user" method="post" class="form-inline">
                <input type="text" class="form-control mr-2" name="name" placeholder="Name">
                <input type="submit" class="btn btn-primary" value="Add User">
            </form>
        </div>
        <div class="col-md-6">
            <h2>Add Task</h2>
            <form action="/add-task" method="post" class="form-inline">
                <input type="text" class="form-control mr-2" name="description" placeholder="Task">
                <input type="submit" class="btn btn-primary" value="Add Task">
            </form>
        </div>
    </div>
</div>
   
{% endblock %}
