{% extends "base.html" %}
{% block title %}UdaDo{% endblock %}
{% block content %}
<div class="container-fluid border-lg shadow m-4">
    <div class="row">
        <!-- Sidebar for Lists -->
        <div class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column" id="sidebar-lists">               
                    {% for list in lists %}                 
                    <div class="container-fluid ">
                        <li class="nav-item m-2 row ">
                            <a class="m-2 justify-content-start col-sm">{{list.name}}</a>
                            {% include 'forms/form_list_update.html' %}    
                            {% include 'forms/form_list_del.html' %}
                        </li>
                    </div>
                    {% endfor %}
                </ul>
               {% include 'forms/form_list_add.html' %}
            </div>
        </div>
        <!-- Main Content Area -->
        <div class="col-md-9 ml-sm-auto col-lg-10 ">
            <div class="card p-4">
                <div id="lists-main">
                {% for list in lists %}
                <div class="row m-4 border rounded-lg shadow p-4" id="{{ list.name }}">
                    <div class="col-md-12 text-capitalize">
                        <h4>{{ list.name }}</h4>
                        {% include 'forms/form_task_add.html' %}
                        <ul class="list-group">
                            {% for task in list.tasks %}
                            <li class="list-group-item d-flex justify-content-between rounded align-items-center">
                                <span class="font-weight-bold">{{ task.description }}</span>
                                <div>
                                    {% include 'forms/form_task_complete.html' %}    
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% include 'scripts/js_list_add.html' %}
{% include 'scripts/js_list_del.html' %}
{% include 'scripts/js_list_edit.html' %}


{% endblock scripts %}

